<% if (title) { %>
<h1 class="title-page"><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- grid %>

<%- reviewGrid %>

<%  if(loggedin) { %>
<section id="form-classification"  class="form">

    <%- messages() %>
    <% if (errors) { %>
        <ul class="error">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
    <% } %>
    <h2>Add your own review</h2>
    <form action="/review/review-add" method="post">
        <div class="form-control">
            <label for="account_name">Screen Name</label>
            <input type="text" readonly placeholder="account name" id="account_name" name="account_name" value="<%= accountData.account_firstname %>" />
        </div>
        <div class="form-control">
            <label for="review_text">Review</label>
            <textarea required name="review_text" id="review_text" cols="30" rows="10">
                <%= review_text %>
            </textarea>
        </div>
        <input type="hidden" name="inventory_id" value="<%= inventory_id %>">            
        <div class="form-submit">
            <button type="submit">Save</button>
        </div>
    </form>
</section>
<% } else { %>
    <section class="review-message-login">
        <p>You must <a href="/account/login">login</a> to write a review</p>
    </section>
<% }%>